<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <link rel="stylesheet" href="__STATIC__/public/bs/css/bootstrap.min.css">
    <script src="__STATIC__/public/bs/js/jquery.min.js"></script>
    <script src="__STATIC__/public/bs/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__STATIC__/admin/css/admin.css">
</head>
<body>

<!-- 导航 -->
<nav class="navbar navbar-default index">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">后台管理系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


            <ul class="nav navbar-nav navbar-right">
                <li><a href="{:url('Index/clearCache')}"><span class="glyphicon glyphicon-refresh"></span>清除缓存</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">后台管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"></a></li>
                        <li><a href="javascript:;" data-toggle="modal" data-target="#pass_edit">修改密码</a></li>
                        <li><a href="#">前台首页</a></li>
                        <li><a href="{:url('Login/logout')}">退出</a></li>

                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- 内容 -->
<div class="container">
    <!-- 左边菜单 -->
    <div class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-heading titles" id="Admin">
                <span class="glyphicon glyphicon-user"></span>
                管理员管理
            </div>
            <ul class="list-group">
                <li class="list-group-item"><a href="{:url('Manger/index')}">管理员列表</a></li>
                <li class="list-group-item"><a href="{:url('AuthGroup/index')}">权限管理</a></li>
                <li class="list-group-item"><a href="{:url('AuthRule/index')}">规则管理</a></li>
            </ul>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading titles" id="Admin">
                <span class="glyphicon glyphicon-user"></span>
                轮播管理
            </div>
            <ul class="list-group">
                <li class="list-group-item"><a href="{:url('Lunbo/index')}">轮播列表</a></li>
            </ul>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading titles" >
                <span class="glyphicon glyphicon-user"></span>
                文章管理
            </div>
            <ul class="list-group">
                <li class="list-group-item"><a href="{:url('Colum/index')}">栏目列表</a></li>
                <li class="list-group-item"><a href="{:url('Article/index')}">文章列表</a></li>
                <li class="list-group-item"><a href="{:url('Author/index')}">作者列表</a></li>
            </ul>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading titles" id="Admin">
                <span class="glyphicon glyphicon-user"></span>
                配置管理
            </div>
            <ul class="list-group">
                <li class="list-group-item"><a href="{:url('Conf/index')}">配置列表</a></li>
                <li class="list-group-item"><a href="{:url('Conf/list')}">配置项列表</a></li>
            </ul>
        </div>
    </div>
    {__CONTENT__}
</div>

<!-- 添加弹出框 -->
<div class="modal fade" id="pass_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">修噶密码</h4>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <label for="">原始密码</label>
                        <input type="password" name="" class="form-control" id="">
                    </div>
                    <div class="form-group">
                        <label for="">修改密码</label>
                        <input type="password" name="" class="form-control" id="">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="提交" class="btn btn-success">
                        <input type="reset" value="重置" class="btn btn-danger">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</body>
<script>


    $(".titles").click(function(){
        $(".titles").next().hide();
        $(this).next().show();
    });
    $("#{:request()->module()}").click();
</script>
</html>