{include file="public/header"/}
<div class="content">
	<div class="content_home">
		<div class="home_left">
			<div class="home_pic">
				<div id="content">
					<div class="border_box">
						<div class="box_skitter box_skitter_large">
							<ul>
								<li>
									<a href="" target="_blank">
										<img src="__STATIC__/home/1.jpg" width="790" height="370" class="cube" />
									</a>
									<div class="label_text">
										<p>「火焰奖」2017中国互联网年度创新评选活动启动</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="hljxdd">
				<div class="hljxdd-title">
					<div class="hljxddttxt">精选导读</div><hr>
				</div>
				<div class="hljxdd-content">
					<div class="hljxddc-box ">
						<div class="hljxddc-box-pic">
							<a href=""  target="_blank">
								<img src="__STATIC__/home/1.jpg" width="241" height="165"/>
							</a>
						</div>
						<div class="hljxddc-box-txt">
							<a href="" target="_blank">被寄予厚望却反响平平的Pro 7，让魅族的这个冬天格外冷</a>
						</div>
					</div>
				</div>
				<div class="hlad1">
					<a href="" target="_blank"><img src="__STATIC__/home/1.jpg"  alt="" /></a>
				</div>
				<div class="hlrmtj">
					<div class="hlrmtj-title">
						<div class="hlrmtjttxt">热门推荐</div><hr>
					</div>
					<div class="hlrmtj-content" id="mainList">
						<ul>
							<li class="rtmj-box">
								<dt>
									<a href="" target="_blank" title="又一场资本大戏，运满满与货车帮究竟谁合并谁"> <img src="__STATIC__/home/1.jpg" alt="又一场资本大戏，运满满与货车帮究竟谁合并谁" width="250" height="165"/> </a>
								</dt>
								<dd>
									<h3>
										<a href="" target="_blank" title="又一场资本大戏，运满满与货车帮究竟谁合并谁">又一场资本大戏，运满满与货车帮究竟谁合并谁</a>
									</h3>
									<p>甭提了，以后都是一家人了。</p>
									<p>李星 / 态度 / 2017-11-28 16:17</p>
								</dd>
							</li>
						</ul>
					</div>
					<div class="rtmj-more" id="moreBtn">
						<a href="#" class="btn hlmore">更多文章</a>
					</div>
				</div>
			</div>
		</div>
		{include file="public/right"/}
	</div>
</div>
<div class="links">
	<div class="links_txt">
		<div class="links_txt_title">友情链接</div>
			<ul>
				<li><a href="" target="_blank">新智派</a> </li>
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('.box_skitter_large').skitter({
            theme: 'clean',
            dots: true,
            preview: false,
            numbers_align: 'right'
        });
    });
</script>
{include file="public/footer"/}
