{layout name="public/layout" /}
<div class="col-md-10">
    <ol class="breadcrumb">
        <li><a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;首页</a></li>
        <li><a href="#">规则管理</a></li>
        <li class="active">规则列表</li>
        <a href="" style="float:right;height:25px;" class="btn btn-success"><span class="glyphicon glyphicon-refresh"></span></a>
        <span style="clear:both"></span>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="btn btn-primary" href="{:url('add')}" style="color:white" ><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;添加规则</a>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>ID</th>
                    <th>权限名称</th>
                    <th>控/方</th>
                    <th>级别</th>
                    <th>操作</th>
                </tr>
                {volist name='data' id='dat'}
                <tr>
                    <td>{$dat.id}</td>
                    <td>
                        <?php
                            if($dat['level']!=0){
                                echo '|';
                            }
                            echo str_repeat('--',$dat['level']);
                        ?>{$dat.title}
                    </td>
                    <td>{$dat.name}</td>
                    <td>{$dat.level}级别</td>
                    <td><a class="glyphicon glyphicon-trash" href="{:url('del',['id'=>$dat.id])}"></a>&nbsp;&nbsp;|&nbsp;&nbsp; <a class="glyphicon glyphicon-tag"  href="{:url('update',['id'=>$dat.id])}"></a></td>
                </tr>
                {/volist}
            </table>
        </div>
        <div class="panel-footer">
        </div>
    </div>
</div>