{include file="public/header"/}
	<div class="content">
		<div class="content_home">
			<div class="home_left">
				<div class="hl_content" style="float: left;">
					<div class="hl_c_title">
						<h2>华为 P10 深度评测：一个「全面顶配」的小屏旗舰<i class="tag">评测</i></h2>
					</div>
					<div class="hl_c_twid"> 
						<a class="source fl-l" href="javascript:;" style="color:#a6a6a6">极客公园 </a>/ Xiaolong, Meng / 2017-03-25 10:08
					</div>
					<div class="hl_c_wcid">
						我们认为，P10 还是有不错的购买价值的。特别是如果你打算买一部小屏旗舰手机但又受不了 iPhone 7 的充电速度和缺失的耳机插孔，华为 P10 可能就是目前最好的选择。
					</div>
					<div class="hl_body">
						内容
					</div>
				</div>
			</div>
			{include file="public/right"/}
		</div>
	</div>
{include file="public/footer"/}
