<div class="footer">
    <div class="footert">
        <div class="footertw">
            <div class="footertl">
                <div class="fabout">
                    <dl>
                        <dt>砍柴网，有态度的科技媒体！</dt>
                        <dd>
                            <a href="__STATIC__/home/aboutme/index.html" >关于我们</a> | <a href="__STATIC__/home/aboutme/contact.html" >联系我们</a> | <a href="__STATIC__/home/aboutme/cooperation.html" >商务合作</a>
                        </dd>
                        <dd>
                            <a href="__STATIC__/home/aboutme/index.html" >关于我们</a> | <a href="__STATIC__/home/aboutme/contact.html" >联系我们</a> | <a href="__STATIC__/home/aboutme/cooperation.html" >商务合作</a>
                        </dd>
                    </dl>
                </div>
                <div class="ftousu">
                    <dl>
                        <dt>投诉建议</dt>
                        <dd>通过E-mail将您的想法和建议发给我们</dd>
                        <dd>稿件投诉：post@ikanchai.com</dd>
                        <dd>版权建议：copy@ikanchai.com</dd>
                    </dl>
                </div>
                <div class="flianxi">
                    <dl>
                        <dt>联系我们</dt>
                        <dd>砍柴网热线：400-8558-350</dd>
                        <dd>官方客服QQ：1963519635</dd>
                        <dd>微信公众号：ikanchai</dd>
                    </dl>
                </div>
            </div>
            <div class="footertr">
                <ul>
                    <li><img src="__STATIC__/home/1.jpg" width="124" height="123" border="0"></li>
                    <li><img src="__STATIC__/home/1.jpg" width="124" height="123" border="0"></li>
                </ul>
            </div>
        </div>
        <div class="footerb">
            <div class="footerbtxt">
                <div class="footerbtxts">&copy; 2013-2015 砍柴网（www.ikanchai.com）版权所有 / 工信部备案：京ICP备15042874号-1 / <a target="_blank" href=""><img src="__STATIC__/home/1.jpg" style="width:16px;"><font color="#fff">京公网安备 11010502032797号</font></a> <a key="564ad173efbfb05d87e1fcc6" logo_size="83x30" logo_type="realname" href="" ></a></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>