<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>砍柴网_探索科技与商业的逻辑</title>
    <link rel="shortcut icon" href="http://www.ikanchai.com/favicon.ico" />
    <meta name="keywords" content="砍柴网,商业评论,科技资讯,互联网金融,科技新闻,移动互联网,网络游戏,电子商务,电信,智能手机,手游,内幕真相" />
    <meta name="description" content="砍柴网（ikanchai.com）创立于2013年，是一家拥有全球视野的前沿科技媒体，我们始终秉承观点独到、全面深入、有料有趣的宗旨，在科技与人文之间寻找商业新价值，坚持以人文的视角解读科技，用专业的精神剖析时代，孜孜不倦探索科技与商业的未来。 " />
    <link rel="stylesheet" type="text/css" href="__STATIC__/home/style.css"  />
    <link rel="stylesheet" type="text/css" href="__STATIC__/home/index.css" />
    <link href="__STATIC__/home/skitter.styles.css"  rel="stylesheet" />
    <script type="text/javascript" src="__STATIC__/home/jquery-1.9.1.min.js" ></script>
    <script type="text/javascript" src="__STATIC__/home/Common.js" ></script>
    <script type="text/javascript" src="__STATIC__/home/script.js" ></script>
    <script type="text/javascript" language="javascript" src="__STATIC__/home/js/jquery.easing.1.3.js" ></script>
    <script type="text/javascript" language="javascript" src="__STATIC__/home/jquery.skitter.min.js" ></script>
    <script type="text/javascript" language="javascript" src="__STATIC__/home/more.js" ></script>

</head>
<body>
<div class="warp">
    <div class="header">
        <div class="head">
            <div class="logo">
                <a href="{:url('index/index')}"></a>
            </div>
            <div class="global-nav">
                <ul class="main-menu">
                    <li>
                        <a href="{:url('index/index')}">首页</a>
                    </li>
                    <li class="dropdown nav-dropdown">
                        <a href="{:url('article/index')}" >原创<i class="arrow"></i></a>
                    </li>
                    <li class="dropdown nav-dropdown">
                        <a href="javascript:;" class="has-drop-menu">分类<i class="arrow"></i></a>
                        <ul class="dropdown-menu">
                            <div class="sort channel clearfix">
                                <p class="title">栏目</p>
                                <ul>
                                    <li>
                                        <a href="article/view/index.html" >态度</a>
                                    </li>
                                    <li>
                                        <a href="article/start/index.html" >创投</a>
                                    </li>
                                    <li>
                                        <a href="article/jinrong/index.html" >金融</a>
                                    </li>
                                    <li><a href="article/vr/index.html" >VR</a></li>
                                    <li><a href="" >专栏</a></li>
                                    <li><a href="" >动态</a></li>
                                </ul>
                            </div>
                            <div class="tags channel clearfix">
                                <ul></ul>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown nav-dropdown">
                        <a href="">评测<i class="arrow"></i></a>
                    </li>
                    <li class="dropdown nav-dropdown">
                        <a href="" >财经<i class="arrow"></i></a>
                    </li>
                    <li class="dropdown nav-dropdown">
                        <a href="" >汽车<i class="arrow"></i></a>
                    </li>
                    <li class="dropdown nav-dropdown">
                        <a href="javascript:;" class="has-drop-menu">快报<i class="arrow"></i></a>
                        <ul class="dropdown-menu">
                            <div class="sort channel clearfix">
                                <p class="title">科技快报</p>
                                <ul></ul>
                            </div>
                            <div class="tags channel clearfix">
                                <ul>
                                    <li><a href="">快报</a></li>
                                    <li><a href="">业界</a></li>
                                    <li><a href="">手机</a></li>
                                    <li><a href="">家电</a></li>
                                    <li><a href="">手游</a></li>
                                    <li><a href="">互联网</a></li>
                                </ul>
                            </div>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="user">
                <!-- <div class="loginok">
                    <ul id="nav">
                        <li class="nav_li3_on">
                            <a class="btn-loginok" href="javascript:;">
                                <img src="./1.jpg" alt="" align="absmiddle" width="20" height="20"><em class="head-username" style="font-style:normal"></em>
                            </a>
                            <div id="nav_menu3" class="nav_li_child" style="display: none;">
                                <div class="showdown">
                                    <a href="" class="head-member" target="_blank">会员中心</a>
                                    <a href="" target="_blank">个人设置</a>
                                    <a href="" target="_blank">在线投稿</a>
                                    <a href="" target="_blank">我的稿件</a>
                                    <a href="" class="head-logout" target="_blank">安全退出</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div> -->
                <div class="login" style=" display:;">
                    <a href="" class="btn btn-login">登陆</a>
                </div>
                <div class="tougao" style=" display:;">
                    <a href="" class="btn btn-login">注册</a>
                </div>
                <div class="search">
                    <ul>
                        <li>
                            <form class="form-search" action="">
                                <input type="text" placeholder="输入搜索内容..." class="nav-search-input" name="search" id="baiduSearch"/>
                                <i class="icon-search"></i>
                                <i class="close"></i>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>