<div class="home_right">
    <div class="hrtpic">
        <div class="view third-effect">
            <img src="__STATIC__/home/1.jpg" width="350" height="230"/>
            <div class="mask">
                <div class="imgshow">
                    <a href="" class="info" target="_blank">刘强东称时尚业务是京东必赢之战</a>
                </div>
            </div>
        </div>
    </div>
    <div class="hrsaomiao">
        <dl>
            <dt>
                <img src="__STATIC__/home/1.jpg" width="115" height="115" border="0">
            </dt>
            <dd>
                <div class="hrwxtitle">微信扫一扫，关注我们</div>
                <div class="hrwxcontent">
                    <a href="#wb" class="trwbico"></a>
                    <a href="#qqwb" class="trqqwbico"></a>
                    <a href="#wx" class="trwxico"></a>
                </div>
            </dd>
        </dl>
    </div>
    <div class="hrrmht">
        <div class="hrrmht-title">
            <div class="hrrmhtttxt">热门话题</div><hr>
        </div>
        <div class="hrrmht-content">
            <ul>
                <li><a href="" class="btn">微信</a></li>
                <li><a href="" class="btn">百度</a></li>
            </ul>
        </div>
    </div>
    <div class="hrrwbd">
        <div class="hrrwbd-title">
            <div class="hrrwbdttxt">热文榜单</div><hr>
        </div>
        <div class="hrrwbd-content">
            <ul>
                <li class="rwbd-1">
                    <a href="" target="_blank" title="融360股价重挫10.81% 市值蒸发19亿人民币">融360股价重挫10.81% 市值蒸发19亿人民币</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="hrtjzz">
        <div class="hrtjzz-title">
            <div class="hrtjzztxt">推荐作者</div><hr>
        </div>
        <div class="hrtjzz-content">
            <div class="tjzz-box">
                <dl>
                    <dt>
                        <a href="" target="_blank" title="俞永福"><img src="./1.jpg" class="thumb" alt="" width="73" height="73" /></a>
                    </dt>
                    <dd>
                        <h3><a href="" target="_blank" title="俞永福">俞永福</a></h3>
                        <p><a href="" target="_blank" title="俞永福">阿里UC移动事业群总裁</a></p>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="frad2">
            <a href="" target="_blank"><img src="__STATIC__/home/1.jpg" alt="" width="300" height="90" /></a>
        </div>
    </div>
    <div class="hrrwbd">
        <div class="hrrwbd-title">
            <div class="hrrwbdttxt">最新快报</div><hr>
        </div>
        <div class="hrrwbd-content">
            <ul>
                <li class="rwbd-1">
                    <a href="" target="_blank" title="天猫下一个万亿市场？在“受骗场景”下马云甘愿下注10亿！">天猫下一个万亿市场？在“受骗场景”下马云甘愿下注10亿！</a>
                </li>
            </ul>
        </div>
    </div>
</div>