{layout name="public/layout" /}
<script src="__STATIC__/public/up/jquery.uploadify.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="__STATIC__/public/up/uploadify.css">
<div class="col-md-10">
    <ol class="breadcrumb">
        <li><a href="{:url('index/index')}"><span class="glyphicon glyphicon-home"></span>&nbsp;首页</a></li>
        <li><a href="#">栏目管理</a></li>
        <li class="active">栏目列表</li>
        <a href="" style="float:right;height:25px;" class="btn btn-success"><span class="glyphicon glyphicon-refresh"></span></a>
        <span style="clear:both"></span>
    </ol>
    <div class="panel panel-default">

        <div class="panel-body">
            <form action="{:url('update',['id'=>$fdata.id])}" method="post" >
                <div class="form-group">
                    <label for="">栏目名称</label>
                    <input id="file_upload" name="name" type="text" class="form-control" value="{$fdata.name}"/>
                </div>
                <div class="form-group">
                    <label for="">上级栏目</label>
                    <select class="form-control" name="pid">
                        <option value="0" >顶级栏目</option>
                        {foreach name="data" item="vo"}
                        <option value="{$vo.id}" {$vo.pid==0?"style='color:red'":"style='color:green'"}
                        {$fdata.pid==$vo.id?"selected":''}>!<?php echo str_repeat('-',$vo['level'])?>{$vo.name}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="type" id="opRadio1" value="{$fdata.type}" {$fdata.type==0?"checked":''}/>图片
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="type" id="opRadio2" value="{$fdata.type}" {$fdata.type==1?"checked":''}>列表
                    </label>
                </div>
                <div class="form-group">
                    <input value="提交" class="btn btn-success" type="submit">
                    <input type="reset" value="重置" class="btn btn-danger">
                </div>
            </form>
        </div>
        <div class="panel-footer">

        </div>
    </div>
</div>
<!-- 添加弹出框 -->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加栏目</h4>
            </div>
            <div class="modal-body">
                <form action="{:url('add')}" method="post" >
                    <div class="form-group">
                        <label for="">栏目名称</label>
                        <input id="file_upload" name="name" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="">上级栏目</label>
                        <select class="form-control" name="pid">
                            <option value="0" checked>顶级栏目</option>
                            {foreach name="data" item="vo"}
                            <option value="{$vo.id}" {$vo.pid==0?"style='color:red'":"style='color:green'"}>!<?php echo str_repeat('-',$vo['level'])?>{$vo.name}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="type" id="opRadio1" value="0" checked/>图片
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="type" id="opRadio2" value="1" />列表
                        </label>
                    </div>
                    <div class="form-group">
                        <input value="提交" class="btn btn-success" type="submit">
                        <input type="reset" value="重置" class="btn btn-danger">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<script>

</script>